.back-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 4px 4px;
    position: fixed; 
    /* background-color: #b1b1b11a; */
    margin: 50px;
    align-items: center;
    width: fit-content; 
    height: fit-content;
    /* border-radius: 10px; */
    z-index: 1000;
    text-decoration: none !important;
    /* border: 1px rgb(191, 191, 191,0.3) solid; */
    
}

.back-container img {
    margin-top: 4px;
    height: 44px;
    align-items: center;
}

/* .back-container p {
    padding-right: 16px;
    color: rgb(130, 108, 94);
    text-align: center;
    text-decoration: none !important;
} */

.back-container:hover {
    transform: scale(1.01);
    /* filter: drop-shadow(2px 4px 2px rgb(93, 93, 93)); */
    transition: transform 0.3s;
    /* border: 2px rgb(225, 225, 225) solid; */
    text-decoration: none;
}
@media (max-width: 768px) {
    .back-container{
        display: none;
    }
}
